
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0"
     fxLayoutAlign="flex-start">
  <div  fxFlex="50%">
        <mat-card class="example-card" style="float: right;">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Irc</mat-card-title>
                  <mat-card-subtitle>Irc chat</mat-card-subtitle>
                </mat-card-header>
                <img src="/assets/irc.png" height="150" width="200">
                <mat-card-actions align="end">
                  <button mat-raised-button color="accent" routerLink="./irc">ENTRAR!</button>
                </mat-card-actions>
              </mat-card>
  </div>
  <div fxFlex="45%" fxFlexOrder="3">
        <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Tinychat</mat-card-title>
                  <mat-card-subtitle>Chat con webcam y micrófono</mat-card-subtitle>
                </mat-card-header>
                <img src="/assets/tinychat.jpg" height="150"  width="200">        
                <mat-card-actions align="end">
                  <button mat-raised-button color="accent" routerLink="./tinychat">ENTRAR!</button>
                </mat-card-actions>
              </mat-card>
    </div>
  
</div>






 

  